@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/authApp/authApp.js")
}


<div id="authApp" ng-app="authApp">
    <ng-view />
</div>